    //RESET
@use "base/reset" as*;

    /* estilos del header */

header{
    top: 0; 
    z-index: 1000;
    display: flex;
    align-items: center;
    background: #181818;
        .mx-auto{
            img{
            width: 10rem;
            height: 5rem;
            }

        }
        button{
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
}

    /* estilos del main */

main{
    flex: 1;
    text-align: center;

    .sub-pag{
        margin-bottom: 4rem;
    }
    
    h1,h2{
        background-color: #4D0359;
        font-style: italic;
        margin-bottom: 4rem;
    }
 
    .carousel-item{
        img{
            height: 20rem;
            padding-bottom: 4rem;
        }
    }
    .productos{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, 10rem);
        row-gap: 4rem;
        column-gap: 0.2rem;
            .producto{
                &:hover{
                    transform: scale(1.1);  
                    transition: 0.5s;
                }
                
                img{
                    width:10rem;
                    height: 10rem;
                    border: 0.2rem solid #EBE8C6;
                    margin-bottom: 0.2rem;
                        &:hover{
                        box-shadow: 5px 5px 5px 5px #4D0359;
                        }
                    
                    
                }
            }
            
    }
}

    /* estilos del footer */

footer{
    background-color: #440351;
    nav{
        a{
            color: #EBE8C6;
        }
    }
}

    /* MQ TABLET */

@media (min-width: 576px) and (max-width:1024px){
    main{
        .politicas-p{
            padding-left: 25rem;
            padding-right: 25rem;
        }
    }
}

    /* MQ DESKTOP */

@media screen and (min-width: 1024px){

    /* estilos del header */

    header{
        .logo{
            img{
               width: 10rem;
                height: 6.5rem; 
            }
        }
        .estantes{
            padding-right: 50rem;
            column-gap:2rem;
        }
    }


    /* estilos del main */

    main{
        .politicas-p{
            padding-left: 40rem;
            padding-right: 40rem;
        }
        .productos{
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: repeat(3, 10rem);
            row-gap: 20rem;
            column-gap: 0.2rem;
            .producto{
                img{
                    width: 20rem;
                    height: 20rem;
                    border: 0.1rem solid #EBE8C6;
                }
            }    
        }
        .carousel-item{
            img{
                height: 40rem;
            }
        }
    }
}