    //RESET
@use "base/reset";

    //HOME
@use "pages/home";

    //FIGURAS
@use "pages/figuras";

    //LECTURA
@use "pages/lectura";

    //POLITICAS
@use "pages/politicas";

    //TABLET
@use "layout/mq-tablet";
    
    //DESKTOP
@use "layout/mq-desktop";