*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* estilos generales */
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #EBE8C6;
    background-color: #181818;
    font-family: "Lilita One", sans-serif;
    overflow-x: hidden;
}

/* estilos del header */

header{
    top: 0; 
    z-index: 1000;
    display: flex;
    align-items: center;
    background: #181818;
        .mx-auto{
            img{
            width: 10rem;
            height: 5rem;
            }
        }
        button{
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
}

/* estilos del main */

main{
    h1,h2{
        background-color: #4D0359;
        font-style: italic;
    }
    .sub-page{
        margin-bottom: 4rem;
    }
    .carousel-item{
        img{
            height: 20rem;
            padding-bottom: 4rem;
        }
    }
    .productos{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, 10rem);
        row-gap: 4rem;
        column-gap: 0.2rem;
            img{
                width: 10rem;
                height: 10rem;
                border: 0.2rem solid #EBE8C6;
            }
    }
}

/* estilos del footer */

footer{
    background-color: #440351;
    nav{
        a{
            color: #EBE8C6;
        }
    }
}

/* mq tablet */

@media (min-width: 576px) and (max-width:1024){
    main{
        .politicas-p{
            padding-left: 25rem;
            padding-right: 25rem;
        }
    }
}

/* mq desktop */

@media screen and (min-width: 1024px){

/* estilos del header */

    header{
        .logo{
            img{
               width: 10rem;
                height: 5rem; 
            }
        }
        .estantes{
            padding-right: 50rem;
            column-gap:2rem
        }
    }
}

/* estilos del main */

    main{
        .politicas-p{
            padding-left: 40rem;
            padding-right: 40rem;
        }
        .productos{
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: repeat(3, 10rem);
            row-gap: 20rem;
            column-gap: 0.2rem;
            img{
                width: 25rem;
                height: 25rem;
                border: 0.1rem solid #EBE8C6;
            }
        }
        .carousel-item{
            img{
                height: 30rem;
            }
        }
    }