
@mixin productos($display, $grid-co, $grid-ar, $rg, $col-gap, $margin){
    display: $display;
    grid-template-columns: $grid-co;
    grid-auto-rows: $grid-ar;
    row-gap: $rg;
    column-gap: $col-gap;
    margin-bottom: $margin;
}

@mixin img($width, $height, $border, $margin){
    width: $width;
    height: $height;
    border: $border;
    margin-bottom: $margin;
}


