//VARIABLES
@use "../utilities/variables" as *;

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilos generales */
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: $font-color;
  background-color: $black-bg;
  font-family: "Lilita One", sans-serif;
  overflow-x: hidden;
}