//estilos del header
header{
    .estantes-politicas{
        padding-right: 50rem;
        gap: 2rem;
    }
}

//estilos del main
    main{
        .sub-pag{
        margin-bottom: 4rem;
        }
        .politicas-p{
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 4rem;
        }   
    }
    